/*
* Carousel present on House page
*/

.carousel {
  @include dimensions($h: $carousel-height-sm);
  @include large-border;
  margin: 15px auto;
  position: relative;

  &__arrows {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  &__number {
    position: absolute;
    bottom: 25px;
    left: 49%;
    display: none;
  }

  &__img {
    @include large-border;
    @include dimensions();
    object-fit: cover;
  }

  &__arrow {
    cursor: pointer;
    max-height: $carousel-arrow-height-sm;
    max-width: $carousel-arrow-width-sm;
    transition: transform 0.2s ease; /* Ajout de la transition */

    &:hover,
    &:focus {
      transform: scale(1.1);
      transform-origin: center; /* Ajout de l'origine de transformation */
    }

    &--left {
      margin-left: 10px;
    }

    &--right {
      margin-right: 10px;
    }
  }

  @include desktop-breakpoint {
    margin: 40px auto;
    @include dimensions($h: $carousel-height);

    &__number {
      display: initial;
    }

    &__arrow {
      max-height: $carousel-arrow-height;
      max-width: $carousel-arrow-width;

      &--left {
        margin-left: 20px;
      }

      &--right {
        margin-right: 20px;
      }
    }
  }
}
